@import '../Utils/Variables.scss';

.Home-Container {
    width: 100%;
    height: 100vh;

    background-image: $home--image;
    background-size: cover;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;

    background-color: $bg--home--color;

    .rigth__side {
        margin-left: 20%;
        
    }
}

